.localized-bubbles-wrapper,.extracted-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0 50px 50px 50px;
  padding: 25px 0px;
}

.localized-bubbles  {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
    margin-top: 10px;
}

.image {
  width: 400px;
  height: 600px;
}

.right-arrow {
    font-size: 50px;
    color: white;
    margin: 0 50px;
}

.extracted-text-wrapper {
  padding-left:20px;
  padding-right:20px;
}

.extracted-text {
  background-color: rgb(78, 78, 78);
  border-radius: 5px;
  padding: 10px;
  color: aliceblue;
  font-size: 20px;
}