<div class="localized-bubbles-wrapper">
  <app-heading [title]="'Localized Bubbles'"></app-heading>
  <div class="localized-bubbles">
    <div>
      <img [src]="chosenPanel" alt="" class="image image-border" />
    </div>
    <div>
      <i class="fa fa-arrow-right right-arrow"></i>
    </div>
    <div>
      <img [src]="localized_bubbles" alt="" class="image image-border" />
    </div>
  </div>
</div>

<div class="extracted-text-wrapper">
  <app-heading [title]="'Extracted Text'"></app-heading>
  <div class="extracted-text">
    <p *ngIf="extracted_text?.length == 0" class="text">No text detected!</p>
    <div *ngIf="extracted_text?.length != 0">
      <p *ngFor="let text of extracted_text; index as i" class="text">
        {{ i + 1 }})&nbsp;{{ text }}
      </p>
    </div>
  </div>
</div>
